<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sarApp</title>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


<nav class="nav-extended blue-text blue lighten-5">
    <div class="nav-wrapper">
      
      <ul id="nav-mobile" class="left hide-on-med-and-down blue-text">
        <li><a href="/" class="blue-text">Home</a></li>
        <li><a href="/addrecipe" class="dashboard blue-text">Dashboard</a></li>
        <li> {{#if logged_in}}
        <a href="/profile" class="blue-text">Profile</a> 
        <li><button class="no-button blue-text" id="logout">Logout</button></li>
       <li>{{else}}
        <a href="/login" class="blue-text">Login</a>
        {{/if}}</li>
      </ul>
       </div>
       <div class="nav-content">
      <span class="nav-title">The Recipes!!</span>
    </div>
  </nav>
  
    <nav class="nav-extended white-text white lighten-5">
        <div class="nav-wrapper">
            <span class="nav-title">sarApp &#127807;</span>
             <ul id="nav-mobile" class="left hide-on-med-and-down white-text">
                <li><a href="/" class="white-text">Home</a></li>
                <li><a href="/" class="dashboard white-text">Dashboard</a></li>
                <li> {{#if logged_in}}
                <a href="/profile" class="white-text">Profile</a> 
            <li><button class="no-button white-text" id="logout">Logout</button></li>
            <li>{{else}}
                <a href="/login" class="white-text">Login</a>
                {{/if}}</li>
            </ul>
            {{#each recipes as |recipe| }}
            <img src="{{recipe.header_img}}">
{{/each}}
        </div>
        <div class="nav-content">
        </div>
        </div>
    </nav>
    <main class="container">

      <!-- Render the sub layout -->
      {{{ body }}}

    </main>
    <footer>
      <p>sarApp &#169 2022</p>
    </footer>
  </div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

     <!-- Render script for logged in users only -->
  {{#if logged_in}}
   
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>