<div class="welcome-card">
    <p>Welcome!<br>Please log in or sign up to access sarApp!</p>
</div>
<div class="formCard">
    <form action="" id="login-form">
        <label style="color:black;" for="username"><b>Username</b></label>
        <input style="color:black;" type="text" name="username" id="login-username" placeholder="Enter here">
        <label style="color:black;" for="password"><b>Password</b></label>
        <input style="color:black;" type="password" name="user-password" id="login-password" placeholder="Enter here">
        <button style="font-family: Didot;">Log me in!</button>
    </form>
</div>
<div class="formCard">
    <form action="" id="signup-form">
        <label style="color:black;" for="user_name"><b>Name</b></label>
        <input style="color:black;" type="text" name="user_name" id="signup-user_name" placeholder="Enter here">
        <label style="color:black;" for="userEmail"><b>Email</b></label>
        <input style="color:black;" type="text" name="userEmail" id="signup-userEmail" placeholder="Enter here">
        <label style="color:black;" for="username"><b>Username</b></label>
        <input style="color:black;" type="text" name="username" id="signup-username" placeholder="Enter here">
        <label style="color:black;" for="password"><b>Password</b></label>
        <input style="color:black;" type="password" name="user-password" id="signup-password" placeholder="Enter here">
        <button style="font-family: Didot;">Sign me up!</button>
    </form>
</div>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>