<<<<<<< HEAD
 <!--<div id="welcome-page">
    <h1>Welcome!</h1>
    <h2>Please log in or sign up to access sarApp!</h2>
=======
<div class="welcome-card">
    <p>Welcome!<br>Please log in or sign up to access sarApp!</p>
>>>>>>> f165b9e5ed42effa5df3573d1efc3ac795628f1b
</div>
<div class="formCard">
    <form action="" id="login-form">
        <label style="color:black;" for="username"><b>Username</b></label>
        <input style="color:black;" type="text" name="username" id="login-username" placeholder="Enter here">
        <label style="color:black;" for="password"><b>Password</b></label>
        <input style="color:black;" type="password" name="user-password" id="login-password" placeholder="Enter here">
        <button style="font-family: Didot;">Log me in!</button>
    </form>
</div>
<div class="formCard">
    <form action="" id="signup-form">
        <label style="color:black;" for="user_name"><b>Name</b></label>
        <input style="color:black;" type="text" name="user_name" id="signup-user_name" placeholder="Enter here">
        <label style="color:black;" for="userEmail"><b>Email</b></label>
        <input style="color:black;" type="text" name="userEmail" id="signup-userEmail" placeholder="Enter here">
        <label style="color:black;" for="username"><b>Username</b></label>
        <input style="color:black;" type="text" name="username" id="signup-username" placeholder="Enter here">
        <label style="color:black;" for="password"><b>Password</b></label>
        <input style="color:black;" type="password" name="user-password" id="signup-password" placeholder="Enter here">
        <button style="font-family: Didot;">Sign me up!</button>
    </form>
</div>
<script src="/js/login.js"></script>
<<<<<<< HEAD
-->
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="waves-effect waves-light btn " type="submit">login</button>
      </div>
      
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="waves-effect waves-light btn " type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
<script src="./js/login.js"></script>
=======
<script src="/js/signup.js"></script>
>>>>>>> f165b9e5ed42effa5df3573d1efc3ac795628f1b
