<div id="welcome-page">
    <h1>Welcome!</h1>
    <h2>Please log in or sign up to access sarApp!</h2>
</div>
<div class="formCard">
    <h2>Login</h2>
    <form action="" id="login-form">
        <label for="username"><b>Username</b></label>
        <input type="text" name="username" id="login-username" placeholder="Enter Username">
        <label for="password"><b>Password</b></label>
        <input type="password" name="user-password" id="login-password" placeholder="Enter Password">
        <button>Log me in!</button>
    </form>
</div>
<div class="formCard">
    <h2>Sign up</h2>
    <form action="" id="signup-form">
        <label for="user_name"><b>Name</b></label>
        <input type="text" name="user_name" id="signup-user_name" placeholder="Enter Your Name">
        <label for="userEmail"><b>Email</b></label>
        <input type="text" name="userEmail" id="signup-userEmail" placeholder="Enter Your Email">
        <label for="username"><b>Username</b></label>
        <input type="text" name="username" id="signup-username" placeholder="Enter Username">
        <label for="password"><b>Password</b></label>
        <input type="password" name="user-password" id="signup-password" placeholder="Enter Password">
        <button>Sign me up!</button>
    </form>
</div>
<script src="/js/login.js"></script>