body{
    font-family: Didot, Georgia, serif, Laviossa,;
    color: black;
    background:#F4F4F4;
}

header{
    font-family: Didot, Georgia, serif;
    color: white;
    background-color: #8B575C;
    width: 100%;
    height: 200px;
    text-align: center;
}

.welcome-page{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #C98986;
    color: black;
    border-radius: 22px;
    font-family: Didot, Georgia, serif;
    padding: 20px;
}

.formCard{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #9CAF88;
    color: black;
    border-radius: 22px;
    font-family: Didot, Georgia, serif;
    padding: 20px;
}

.recipeFlexCards {
    display: flex;
    border: 5px solid #F6BDD1;
    color: black;
    border-radius: 22px;
    font-family: Didot, Georgia, serif;
    padding: 28px;
}

.tagBtn{
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 20px;
    font-family: Didot, Georgia, serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 3px solid #F6BDD1;
}  
.tagBtn:hover {
    background-color: #F6BDD1;
    color: white;
}

.postBtn{
    flex: right;
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 20px;
    font-family: Didot, Georgia, serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 3px solid #C98986;
}  
.postBtn:hover {
    background-color: #C98986;
    color: white;
}

.editBtn{
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 20px;
    font-family: Didot, Georgia, serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 3px solid #9CAF88;
}  
.editBtn:hover {
    background-color: #9CAF88;
    color: white;
}

.deleteBtn{
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 20px;
    font-family: Didot, Georgia, serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 3px solid #8B575C;
}  
.deleteBtn:hover {
    background-color: #8B575C;
    color: white;
}

.profile-info{
    display: flex;
    align-items: left;
    justify-content: center;
    border: 5px solid #C98986;
    color: black;
    border-radius: 22px;
    font-family: Didot, Georgia, serif;
    padding: 20px;
}